@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";
@import "swiper/css";
@import "swiper/css/pagination";
@import "swiper/css/navigation";

body {
  background-color: radial-gradient(
      25.71% 30.27% at 89.86% 20.02%,
      rgba(193, 19, 251, 0.2) 0%,
      rgba(193, 19, 251, 0.16) 27.88%,
      rgba(193, 19, 251, 0) 100%
    ),
    radial-gradient(
      93.78% 51.58% at 0% 19.29%,
      rgba(255, 204, 0, 0.2) 0%,
      rgba(207, 176, 19, 0.15) 29.33%,
      rgba(194, 164, 18, 0.13) 43.75%,
      rgba(126, 99, 10, 0) 100%
    ),
    radial-gradient(
      88.77% 62.89% at 67.78% 70.61%,
      rgba(52, 21, 168, 0.8) 0%,
      #290f86 14.42%,
      #210c71 28.37%,
      #160651 46.15%,
      #0f033d 57.21%,
      #0d0233 100%
    );
}
.glass-card-1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1px;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.8),
    transparent
  );
}

.glass-card-1::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.8),
    transparent,
    rgba(255, 255, 255, 0.3)
  );
}
.swiper-pagination {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}
.glass-card-2 {
  background: rgba(187, 187, 187, 0.2);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37),
    inset 0 1px 0 0 rgba(255, 255, 255, 0.1);
}
.swiper-pagination-bullet {
  background-color: #ffffff33;
  opacity: 1;
  transition: background-color 0.3s ease;
}

.swiper-pagination-bullet-active {
  background-color: #ffffff;
}
